* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/public/icons/cursor/Normal.cur"), auto;
    transition: all .7s ease;    
}

body {
    width: 100vw;
    height: 100vh;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

button,.button {
    display: inline-flex;
    border: none;
    outline: none;
    background: none;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    white-space: pre;
    font-size: .9rem;
    cursor: url("/public/icons/cursor/Link.cur"), auto;
}

b {
    color:#555861;
}

p {
    cursor: url("/public/icons/cursor/TextSelectionNoBordered.cur"), auto;
}

button > *, .button > * {
    cursor: url("/public/icons/cursor/Link.cur"), auto;
}

button:hover, .button:hover {
    background-color: #80808020;
    transition: .5s all ease;
}

.fullwidth {
    width: 100%;
}

button.primary, .button.primary {
    background-color: rgb(252,198,188);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(252,198,188);
    border-radius: 3px;
    cursor: url("/public/icons/cursor/Link.cur"), auto;
}

textarea, input[type="text"] {
    color: #383A3F;
    cursor: url("/public/icons/cursor/TextSelectionBordered.cur"), auto;
}